* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative; 
  top: 20px;
  left: 20px;

  width: 800px;
  height: 480px;
  background: #f5f5f5;
  box-shadow: 0 10px 30px #dbdbdb;
}

.container .slider .item {
  width: 165px;
  height: 250px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  box-shadow: 0 30px 50px #505050;
  background-position: 50% 50%;
  background-size: cover;
  display: inline-block;
  transition: 0.5s;
  z-index: 1;
}

.slider .item:nth-child(1),
.slider .item:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  z-index: 0;
}


.slider .item:nth-child(3) {
  left: 50%
}

.slider .item:nth-child(4) {
  left: calc(50% + 210px)
}

.slider .item:nth-child(5) {
  left: calc(50% + 430px)
}

.slider .item:nth-child(6) {
  left: calc(50% + 650px);
}

/* Hide all after nth child 5 */
.slider .item:nth-child(n+7) {
  display: none;
}

.item .content {
  position: absolute;
  top: 50%;
  left: 50px;
  width: 300px;
  text-align: left;
  color: #eee;
  transform: translate(0, -50%);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: none;
}

.slider .item:nth-child(2) .content {
  display: block;
}

.content .name {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  animation: animate 1s ease-in-out 1 forwards;
}

.content .description {
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  opacity: 0;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
    filter: blur(0);
  }
}

.buttons {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
  z-index: 10;
}

.buttons button {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  /* border: none; */
  cursor: pointer;
  margin: 0 5px;
  border: 1px solid #000;
  transition: 0.3s;
}

.buttons button:hover {
  background: #ababab;
  color: #fff;
}